<div class="container" >
    <div class="row">
        <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header text-center form-control" 
            style="color: white; background-color: rgb(6,62,38);"><b>Provide your details</b>
            </div>

            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                <div class="form-group mer">
                    <label for="img">Image</label>
                    <input type="file" class="form-control" (change)="onchange($event)" formControlName="img" id="img" placeholder="Select Image">
                </div>

                <div class="form-group mer">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" formControlName="fullName" id="fullName" placeholder="Enter Full Name">
                </div>
                
                <div class="form-group mer">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email address">
                </div>
               
               <div class="form-group mer">
                    <label for="gender">Gender</label>
                    <select class="form-control" formControlName="gender" id="gender">
                        <option value="">--Select your gender--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    
                </div>
               

                <div class="form-group mer">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" formControlName="dob" id="dob" placeholder="Enter Date of Birth">
                </div>
               
                <div class="form-group mer">
                    <label for="mobileNumber">Mobile Number</label>
                    <input type="number" class="form-control" formControlName="mobileNumber" id="mobileNumber" placeholder="Enter Mobile Number">
                </div>
               
               
                <div class="form-group mer">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" formControlName="address" id="address" placeholder="Enter Address">
                </div>

                <div class="form-group mer">
                    <label for="city">City</label>
                    <input type="text" class="form-control" formControlName="city" id="city" placeholder="Enter City">
                </div>

                <div class="form-group mer">
                    <label for="state">State</label>
                    <select formControlName="state" id="state" class="form-control">
                        <option value="">--Select state--</option>
                        <option *ngFor="let state of stateList" value={{state}}>{{state}}</option>
                    </select>
                </div>

                <p>
                  <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
                </p>
               
              </form>


            

        </div>
    </div>
    <div *ngIf="imageurl" class="col">
        <div >
            <img [src]="imageurl" style="height:100px;width:100px;" alt="this photo is not uploded yet"/>
        </div>
        
    </div>
    
    </div>
</div>
