<div style="background-color:aliceblue">

<p>we are here for serving you the best deal with Rajasthan GOVT</p>

<div class="container" style="margin-left:20px;">
    <div class="row" style="background-color:blanchedalmond">
        <div class="col-md-8 text-justify" >I am the founder of this sansta. And I started it to helping Rajasthan's people who want to learn new thinks in their life and with that new think they can earn money for their family and they can also start their own business based on our training . so I Mahesh Sen want to say to all of you "All the best" for your new life with us . And "thank you All" to joining us.  
        </div>
        <div class="col">
            <img src="../../assets/WhatsApp Image 2023-05-23 at 2.44.58 AM.jpeg" class="rounded" style="width:22em;">
        </div>
    </div>
</div>
<div>
    <b>connect with me on Mobile - 9461611361</b>
    
</div>
</div>
